
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}
img{
    width: 583px;
    height: 374px;
    display: block;
    margin: 75px auto 0;
    padding: auto;

}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
button{
    margin-top:20px;
    background-color: #AEC346;
    width: 160px;
    height: 32px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
    border:none;
    cursor:pointer;
}
button:hover{
    opacity: 0.8;
    
}
